.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 220px 50px;

    justify-items: center;
    align-items: center;
}

.welcome {
    align-self: end;
}

.form {
    align-self: end;
}