
<div class="grid">
    <div class="welcome">WELCOME</div>

    <div class="form">
        <form [formGroup]="myForm" autocomplete="off">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input matInput
                           placeholder="Username"
                           formControlName="user">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint *ngIf="fieldIsInvalid('user')">
                        Field Required
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput
                           placeholder="Password"
                           formControlName="password"
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="fieldIsInvalid('password')">
                        Must be at least 6 characters
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </div>

    <div>
        <button mat-raised-button
                (click)="signIn()"
                [disabled]="myForm.invalid">
            Login
        </button>
    </div>

</div>